<div ng-include="'./app/partials/nav.html'"></div>
<div ng-controller="AddReportController">
    <div class="jumbotron">
        <div>
            <label>File Name</label>
            <input type="text" id="fileName" />
            <label for="avatar">File:</label>
            <input type="file"
                   id="uploaded-report"
                   accept=".tsv" />

            @*<button ng-click="addReport(file)">Upload</button>*@
        </div>
    </div>
</div>

