@*<div ng-include="'./app/partials/nav.html'"></div>*@
<div class="jumbotron">
    <div>
        <label for="avatar">File:</label>
        <input type="file"
               id="data-upload" name="data-upload"
               accept=".tsv" />
        <button>Upload</button>
    </div>
</div>
